<section class="col-sm-12 col-sm-offset-0 col-md-offset-1 col-md-10">
    <div class="wizard panel">
        <div class="wizard-inner panel-heading">
            <div class="connecting-line"></div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" th:class="${counts[0] > 0 and counts[1] == 0 and counts[2] == 0 and counts[3] == 0}? 'active selec' : ''">
                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Inscrições">
                        <span class="round-tab">
                            <i class="glyphicon glyphicon-list"></i>
                        </span>
                    </a>
                </li>
                <li role="presentation" th:class="${counts[1] > 0 and counts[2] == 0 and counts[3] == 0}? 'active selec' : ''">
                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Provas">
                        <span class="round-tab">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </span>
                    </a>
                </li>
                <li role="presentation" th:class="${counts[2] > 0 and counts[3] == 0}? 'active selec' : ''">
                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Entrevistas">
                        <span class="round-tab">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                    </a>
                </li>
                <li role="presentation" th:class="${counts[3] > 0}? 'active selec' : ''">
                    <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Selecionados">
                        <span class="round-tab">
                            <i class="glyphicon glyphicon-ok"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div role="form" class="panel-body">
            <div class="tab-content">
                <div th:class="${counts[0] > 0 and counts[1] == 0 and counts[2] == 0 and counts[3] == 0}? 'tab-pane active' : 'tab-pane'" role="tabpanel" id="step1">
                    <h3>Etapa 1 - Inscrições</h3>
                    <h3 th:text="${counts[0] + ' Candidatos, até o momento.'}"></h3>
                </div>
                <div th:class="${counts[1] > 0 and counts[2] == 0 and counts[3] == 0}? 'tab-pane active' : 'tab-pane'" role="tabpanel" id="step2">
                    <h3>Etapa 2 - Provas</h3>
                    <h3 th:text="${counts[1] + ' Provas realizadas.'}"></h3>
                </div>
                <div th:class="${counts[2] > 0 and counts[3] == 0}? 'tab-pane active' : 'tab-pane'" role="tabpanel" id="step3">
                    <h3>Etapa 3 - Entrevista</h3>
                    <h3 th:text="${counts[2] + ' Entrevistas realizadas.'}"></h3>
                </div>
                <div th:class="${counts[3] > 0}? 'tab-pane active' : 'tab-pane'" role="tabpanel" id="complete">
                    <h3>Etapa 4 - Seleção</h3>
                    <h3 th:text="${counts[3] + ' Selecionados!'}"></h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
<section class="col-sm-12 col-sm-offset-0 col-md-offset-1 col-md-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Grupos de provas</h3>
        </div>
        <div class="panel-body">
            <div th:each="grupo, interation : ${grupos}" class="col-md-3">
                <div class="well">
                    <h4 th:text="${grupo.idDataHora.titulo}"></h4>
                    <p th:text="${contadoresGrupos[interation.count - 1]} + ' candidatos'"></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="col-sm-12 col-sm-offset-0 col-md-offset-1 col-md-10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Próximas Entrevistas</h3>
        </div>
        <div th:unless="${entrevistas.iterator().hasNext()}" class="panel-body">
            <h4>Não há entrevistas marcadas para os próximos dois dias.</h4>
        </div>
        <table th:if="${entrevistas.iterator().hasNext()}" class="table table-hover">
            <thead class="thead-inverse">
                <tr class="active">
                    <th>Candidato/Turma</th>
                    <th>Data do Inicio</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="entrevista : ${entrevistas}">
                    <td th:text="${entrevista.idCandidato.nome}"></td>
                    <td th:text="${#dates.format(entrevista.idDataHora.dataHoraInicial, 'dd/MMM/yyyy HH:mm')}"></td>
                </tr> 
            </tbody>
        </table>
    </div>
</section>
