<div id='calendar'></div>

<div id='modal-criar-novo-evento' hidden="hidden">
    <form>
        <div class="form-group">
            <label for="evento">Tipo de evento:</label>
            <select class="form-control novo-evento-tipo">
                <option>Selecione o tipo</option>
                <option value="GRUPO_PROVA">Grupo de provas</option>
                <option value="ENTREVISTA_RH">Entrevista de candidato</option>
            </select>
        </div>
        <div class="form-group grupo-titulo" hidden="hidden">
            <label for="titulo" class="label-titulo"></label>
            <input type="text" class="form-control input-titulo"/>
        </div>
        <div>
            <span class="range-tempo-evento"></span>
        </div>
    </form>
</div>