<div class="panel-heading amigo">
    <form class="form-vertical" id="pesq" data-func="amigos">
        <div class="input-group">
            <input name="imagem" id="txtPesq" class="form-control inputAmigo" data-func="pesquisa" placeholder="Nome da pessoa." type="text"/> 
            <span class="input-group-btn">
                <button class="btn btn-default inputAmigo" data-func="pesquisa" data-pesquisa="amigos" type="submit">Filtrar Busca!</button>
            </span>
        </div>
    </form>
</div>
<div class="panel-body bodyAmigo">
    <ul class="list-group listaAmigos">
        <li th:if="${qtd == 0}" class="list-group-item liAmigos">
            <h2>Você não tem amigos!</h2>
        </li> 
        <li th:each="perfil : ${perfis}" class="list-group-item liAmigos">
            <img th:src="@{${perfil.idPessoa.imagem}}" th:alt="${perfil.idPessoa.nmPessoa}"/>
            <h3 th:text="${perfil.idPessoa.nmPessoa}">Usuário Fulano</h3>
        </li> 
    </ul>
</div>