<form class="form-inline form-filtro"  id="pesq" th:attr="data-page=${pagina}" data-url="/candidatos">
    <input name="page"  type="hidden" class="input-pagina"/> 
    <div class="input-group col-xs-6 col-sm-5 col-md-3">
        <input name="nome" id="txtNome" class="form-control"  th:value="${valorAntigoInput.nome}" placeholder="Nome" type="text"/> 
    </div>
    <div class="input-group col-xs-5 col-sm-5 col-md-3">
        <input name="email" id="txtEmail" class="form-control" th:value="${valorAntigoInput.email}" placeholder="Email" type="text"/> 
    </div>
    <div class="input-group col-xs-6 col-sm-5 col-md-2">
        <input name="telefone" id="txtTelefone" th:value="${valorAntigoInput.telefone}" class="form-control" placeholder="Telefone" type="text"/> 
    </div>
    <div class="input-group col-xs-5 col-sm-5 col-md-2">
        <select class="form-control" id="txtStatus" name="status">
            <option value="" class="optionDisable">Status:</option>
            <option value="AGUARDANDO_CONTATO" th:selected="${valorAntigoInput.status} == 'AGUARDANDO_CONTATO'">Aguardando Contato</option>
            <option value="ENTREVISTADO" th:selected="${valorAntigoInput.status} == 'ENTREVISTADO'">Entrevistado</option>
            <option value="SEM_INTERESSE" th:selected="${valorAntigoInput.status} == 'SEM_INTERESSE'">Sem Interesse</option>
        </select>
    </div>
    <div class="input-group col-xs-12 col-sm-1 col-md-1">
        <button class="btn btn-default" type="submit">Filtrar</button>
    </div>   
</form>

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-inverse">
            <tr class="active">
                <th>Nome</th>
                <th>Telefone</th>
                <th>Idade</th>
                <th>Email</th>
                <th>Status</th>
                <th>Linkedin</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="candidato : ${candidatos}">
                <td scope="row" th:text="${candidato.idCandidato.nome}" ></td>
                <td th:text="${candidato.telefone}"></td>
                <td th:text="(${#dates.format(candidato.dataNascimento, 'yyyy')} - 1970)"></td>
                <td th:text="${candidato.idCandidato.email}"></td>
                <td th:text="${candidato.idCandidato.status}"></td>
                <td>
                    <a th:href="${candidato.urlLinkedin}" target="_blank"><i class="fa fa-linkedin-square candidatos-acoes"></i ></a>
                </td>
                <td>
                    <span href="#" class="glyphicon glyphicon-list-alt opcao-side-bar" th:attr="data-url='/entrevistas?idCandidato='+${candidato.idCandidato.idCandidato}"></span>           
                </td>
            </tr> 
        </tbody>
    </table>
</div>    
<button  th:disabled="${candidatos.first}" class="btn-paginacao btn btn-default" data-url="/candidatos" href="#" th:attr="data-page= ${candidatos.first} ? null : ${pagina}-1">Anterior</button>
<button th:disabled="${candidatos.last}" class="btn-paginacao btn btn-default" data-url="/candidatos" href="#" th:attr="data-page= ${candidatos.last} ? null : ${pagina}+1">Próximo</button>