<form class="form-inline" id="pesq" th:attr="data-page=${pagina}">
    <div class="input-group">
        <input name="nome" id="txtNome" class="form-control" placeholder="Nome" type="text"/> 
    </div>
    <div class="input-group">
        <input name="email" id="txtEmail" class="form-control" placeholder="Email" type="text"/> 
    </div>
    <div class="input-group">
        <input name="telefone" id="txtTelefone" class="form-control" placeholder="Telefone" type="text"/> 
    </div>
    <div class="input-group">
        <select class="form-control" id="txtStatus" name="status">
            <option value=""></option>
            <option value="AGUARDANDO CONTATO">Aguardando Contato</option>
            <option value="ENTREVISTADO">Entrevistado</option>
            <option value="NAO INTERESSADO">Não Interessado</option>
        </select>
    </div>
    <div class="input-group">
        <button class="btn btn-default" type="submit">Filtrar!</button>
    </div>
</form>

<div th:each="candidato : ${candidatos}" class="panel panel-default candidatoList">
    <div class="panel-heading">
        <p th:text="${candidato.idcandidato.nome}"></p>
    </div>
    <div class="panel-body">
        <p th:text="'Telefone: ' + ${candidato.telefone}"></p>
        <p th:text="'Idade: ' + (${#dates.format(candidato.datanascimento, 'yyyy')} - 1970)"></p>
        <p th:text="'Email: ' + ${candidato.idcandidato.email}"></p>
        <p th:text="'Status: ' + ${candidato.idcandidato.status}"></p>
        <a th:href="${candidato.urllinkedin}">Linkedin</a>
        <a th:href="${candidato.urllinkedin}">Ver Mais</a>
        <a th:href="${candidato.urllinkedin}">Entrevistas</a>
    </div>
</div>

<ul class="pagination">
    <li th:class="${candidatos.first} ? 'disabled' : ''">
        <a class="btnPag" href="#" th:attr="data-page= ${candidatos.first} ? null : ${pagina}-1">Anterior</a>
    </li>
    <li th:class="${candidatos.last} ? 'disabled' : ''">
        <a class="btnPag" href="#" th:attr="data-page= ${candidatos.last} ? null : ${pagina}+1">Próximo</a>
    </li>
</ul>
