<div class="row top15">
    <div class="col-md-12">
        <p th:text="${candidato.idCandidato.nome}+' ('+${candidato.idCandidato.email}+') - '+${candidato.idCandidato.instituicaoEnsino}+'/'+${candidato.idCandidato.curso}"></p>
    </div>
</div>
<div class="row top25">
    <div class="col-md-10 col-md-offset-1 candidato-entrevista-div">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Informações do Candidato</a></li>
            <li><a data-toggle="tab" href="#menu">Pareceres, notas e datas</a></li>
        </ul> 
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>Informações do Candidato</h3>
                <form id="edicao-candidato" data-url="/editar-candidato" role="form"  method="POST">
                    <input type="number" hidden="hidden" th:value="${candidato.idCandidato.idCandidato}" name="idCandidato" />
                    <input type="number" hidden="hidden" th:value="${candidato.idInformacao}" name="idInformacao" />
                    <div class="input-group">
                        <span for="nome" class="input-group-addon" id="basic-addon1">Nome</span>
                        <input type="text" class="form-control input-data" th:value="${candidato.idCandidato.nome}" placeholder="fulano" name="nome" required="required" aria-describedby="basic-addon1"/>
                    </div>
                    <div class="input-group">
                        <span for="email" class="input-group-addon" id="basic-addon2">Email:</span>
                        <input type="text" class="form-control input-data" th:value="${candidato.idCandidato.email}" placeholder="fulano@exemplo.com" name="email" required="required" aria-describedby="basic-addon2"/>
                    </div>
                    <div class="input-group">
                        <span for="instituicaoEnsino" class="input-group-addon" id="basic-addon3">Instituição de ensino:</span>
                        <input type="text" class="form-control input-data" th:value="${candidato.idCandidato.instituicaoEnsino}" placeholder="Unisinos" name="instituicaoEnsino" required="required" aria-describedby="basic-addon3"/>
                    </div>
                    <div class="input-group">
                        <span for="curso" class="input-group-addon" id="basic-addon4">Curso:</span>
                        <input type="text" class="form-control input-data" th:value="${candidato.idCandidato.curso}" placeholder="Ciência da computação" name="curso" required="required" aria-describedby="basic-addon4"/>
                    </div>
                    <div class="input-group">
                        <span for="previsaoFormatura" class="input-group-addon" id="basic-addon5">Previsão de formatura:</span>
                        <input type="text" class="form-control input-data" th:value="${candidato.idCandidato.previsaoFormatura}" placeholder="2018/01" name="previsaoFormatura" required="required" aria-describedby="basic-addon5"/>
                    </div>
                    <div class="input-group">
                        <span for="telefone" class="input-group-addon" id="basic-addon6">Telefone:</span>
                        <input type="text" class="form-control input-data" th:value="${candidato.telefone}" placeholder="(51)99999999" name="telefone" required="required" aria-describedby="basic-addon6"/>
                    </div>
                    <div class="input-group">
                        <span for="dataNascimento" class="input-group-addon" id="basic-addon7">Data de nascimento:</span>
                        <input type="text" class="form-control input-data" th:value="(${#dates.format(candidato.dataNascimento, 'dd/MM/yyyy')})" placeholder="dd/mm/aaaa" name="dataNascimento" required="required" aria-describedby="basic-addon7"/>
                    </div>
                    <div class="input-group">
                        <span for="cidade" class="input-group-addon" id="basic-addon8">Cidade</span>
                        <input type="text" class="form-control input-data" th:value="${candidato.cidade}" placeholder="São Leopoldo" name="cidade" required="required" aria-describedby="basic-addon8"/>
                    </div>
                    <div class="input-group">
                        <span for="urlLinkedin" class="input-group-addon" id="basic-addon9">Url Linkedin:</span>
                        <input type="text" class="form-control input-data" th:value="${candidato.urlLinkedin}" placeholder="www.linkedin.com/fulano" name="urlLinkedin" required="required" aria-describedby="basic-addon9"/>
                    </div>                    
                    <div class="input-group">
                        <span for="status" class="input-group-addon" id="basic-addon10">Status:</span>
                        <select class="form-control input-data" th:value="${candidato.idCandidato.status}" name="status">
                            <option   th:each="status : ${T(br.com.crescer.selecao.entities.enums.StatusCandidato).values()}" th:value="${status}" th:text="${#strings.replace(status, '_', ' ')}"></option>
                        </select>                       
                    </div>
                    <button type="submit" class="btn btn-default">Salvar</button>
                </form>    
            </div>
            
            <div class="tab-pane fade" id="menu">
                <form role="form" id="edicao-entrevista" data-url="/editar-entrevista" method="POST">
                    <div class="input-group">
                        <span for="status" class="input-group-addon" id="basic-addon10">Grupo de Prova:</span>
                        <select class="form-control input-data" th:value="${entrevista.idGrupoDeProvas}" name="idGrupoDeProvas">
                            <option>Sem grupo ainda</option>
                            <option   th:each="grupos : ${GruposDeProvas}" th:value="${grupos.idGrupoDeProvas}" th:text="${grupos.idDataHora.titulo+' | '+#dates.format(grupos.idDataHora.dataHoraInicial,'dd/MM - HH:mm')+' ás '+#dates.format(grupos.idDataHora.dataHoraFinal,'HH:mm')} "></option>
                        </select>                       
                    </div>
                    <div class="input-group">
                        <h4 >Horário de Entrevista Rh:</h4>
                        <h5 th:text="${entrevista.idDataHora != null} ? ${#dates.format(entrevista.idDataHora.dataHoraInicial,'dd/MM - HH:mm')+' ás '+#dates.format(entrevista.idDataHora.dataHoraFinal,'HH:mm')}:'Não há entrevista marcada'"></h5>                   
                    </div>
                    <div class="form-group">
                        <h4>Parecer Rh:</h4>
                        <textarea rows="3" class="form-control" th:text="${entrevista.parecerRh}"></textarea>
                    </div>
                    <div class="form-group">
                        <h4>Parecer tecnico:</h4>
                        <textarea rows="3" class="form-control" th:text="${entrevista.parecerTecnico}"></textarea>
                    </div>
                    <div class="form-group">
                        <h4>Notas das provas:</h4>             
                        <ul class="list-inline">
                            <li class="h5">G36:</li>
                            <li><input class="form-control" th:value="${entrevista.provaG36}" type="number" step="0.1" width="48"/></li>
                            <li class="h5">AC:</li>
                            <li><input class="form-control" th:value="${entrevista.provaAc}" type="number" step="0.1" width="48"/></li>
                            <li class="h5">Técnica:</li>
                            <li><input class="form-control" th:value="${entrevista.provaTecnica}" type="number" step="0.1" width="48"/></li>
                        </ul>
                    </div>
                    <p th:if="${entrevista.idUsuario}"  class="text-center"><strong>Usuario:</strong><mark><span th:text="${entrevista.idUsuario.nome}"></span></mark></p>
                    <button type="submit" class="btn btn-default">Salvar</button>
                </form>       
            </div> 
        </div> 
    </div>
</div>