<form class="form-inline form-filtro"  id="pesq" th:attr="data-page=${pagina}" data-url="/entrevistados">
    <input name="page"  type="hidden" class="input-pagina"/> 
    <div class="input-group col-xs-5 col-sm-5 col-md-2">
        <select class="form-control" id="txtStatus" name="status">
            <option value="" class="optionDisable">Status:</option>
            <option value="ENTREVISTADO">Entrevistado</option>
            <option value="EM_ANALISE">Em Análise</option>
            <option value="PRE_SELECIONADO">Pré-selecionado</option>
            <option value="SELECIONADO">Selecionado</option>
            <option value="NAO_SELECIONADO">Nao Selecionado</option>
        </select>
    </div>
    <div class="input-group col-xs-12 col-sm-1 col-md-1">
        <button class="btn btn-default" type="submit">Filtrar</button>
    </div>   
</form>

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-inverse">
            <tr class="active">
                <th>Nome</th>
                <th>Prova G36</th>
                <th>Prova AC</th>
                <th>Prova Técnica</th>
                <th>Pareceres</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="entrevista : ${entrevistas}">
                <td scope="row" th:text="${entrevista.idCandidato.nome}"></td>
                <td th:text="${entrevista.provaG36}"></td>
                <td th:text="${entrevista.provaAc}"></td>
                <td th:text="${entrevista.provaTecnica}"></td>
                <td><a th:attr="data-idcandidato=${entrevista.idCandidato.idCandidato}" class="btn btn-primary btnExibirParecer">Exibir</a></td>
                <td th:text="${entrevista.idCandidato.status}"></td>
            </tr> 
        </tbody>
    </table>
</div>
<button  th:disabled="${entrevistas.first}" class="btn-paginacao btn btn-default" data-url="/entrevistados" href="#" th:attr="data-page= ${entrevistas.first} ? null : ${pagina}-1">Anterior</button>
<button th:disabled="${entrevistas.last}" class="btn-paginacao btn btn-default" data-url="/entrevistados" href="#" th:attr="data-page= ${entrevistas.last} ? null : ${pagina}+1">Próximo</button>