<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head">  
        <title>Titulo do Projeto</title>
    </head>
    <body class="body-admin">
        <div id="wrapper">
            <div id="sidebar-wrapper"  th:replace="fragments :: sidebar-wrapper">
            </div>
            <nav class="navbar navbar-default menu-nav nav-admin"  th:replace="fragments :: nav">
            </nav>  
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row corpo">

                    </div>
                </div>
            </div> 
        </div>        

        <script th:src="@{/js/jquery-2.2.4.min.js}" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/fullcalendar.min.js" type="text/javascript"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/lang/pt-br.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/sweetalert2/4.0.6/sweetalert2.min.js" type="text/javascript"></script>  
        <script th:src="@{/js/autoComplete.js}" type="text/javascript"></script>
        <script th:src="@{/js/mainView.js}" type="text/javascript"></script>
        <script th:src="@{/js/calendarioView.js}" type="text/javascript"></script>
        <script th:src="@{/js/script.js}" type="text/javascript"></script>
    </body>
</html>