
<form id="formulario-confirmar" th:action="@{/email/confirmar-inscricao}" th:object="${informacao}" method="POST">
    <input type="hidden" th:value="${informacao.idCandidato.idCandidato}" name="idCandidato.idCandidato"></input>
    <div class="form-group">
        <label>Nome</label>
        <input required="required" class="form-control" type="text" th:value="${informacao.idCandidato.nome}" name="idCandidato.nome"/>
        <p class="text-danger" th:if="${#fields.hasErrors('idCandidato.nome')}" th:errors="*{idCandidato.nome}"></p>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input required="required" class="form-control" type="email" th:value="${informacao.idCandidato.email}" name="idCandidato.email"/> 
        <p class="text-danger" th:if="${#fields.hasErrors('idCandidato.email')}" th:errors="*{idCandidato.email}"></p>
    </div>
    <div class="form-group">
        <label>Instituição de Ensino</label>
        <input required="required" class="form-control" type="text" th:value="${informacao.idCandidato.instituicaoEnsino}" name="idCandidato.instituicaoEnsino"/> 
        <p class="text-danger" th:if="${#fields.hasErrors('idCandidato.instituicaoEnsino')}" th:errors="*{idCandidato.instituicaoEnsino}"></p>
    </div>
    <div class="form-group">
        <label>Curso</label>
        <input required="required" class="form-control" type="text" th:value="${informacao.idCandidato.curso}" name="idCandidato.curso"/> 
        <p class="text-danger" th:if="${#fields.hasErrors('idCandidato.curso')}" th:errors="*{idCandidato.curso}"></p>
    </div>
    <div class="form-group">
        <label>Previsao Formatura</label>
        <input required="required" class="form-control" type="text" th:value="${informacao.idCandidato.previsaoFormatura}" name="idCandidato.previsaoFormatura" placeholder="aaaa/mm"/> 
        <p class="text-danger" th:if="${#fields.hasErrors('idCandidato.previsaoFormatura')}" th:errors="*{idCandidato.previsaoFormatura}"></p>
    </div>
    <div class="form-group">
        <label>Telefone</label>
        <input required="required" class="form-control" type="text" th:value="*{telefone}" name="telefone" placeholder="(51)99999999"/> 
        <p class="text-danger" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></p>
    </div>
    <div class="form-group">
        <label>Data de nascimento</label>
        <input required="required" class="form-control" type="text" th:value="*{dataNascimento}" name="dataNascimento" placeholder="dd/mm/aaaa"/> 
        <p class="text-danger" th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"></p>
    </div>
    <div class="form-group">
        <label>Cidade</label>
        <input required="required" class="form-control" type="text" th:value="*{cidade}" name="cidade"/> 
        <p class="text-danger" th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"></p>
    </div>
    <div class="form-group">
        <label>Linkedin URL</label>
        <input required="required" class="form-control" type="text" th:value="*{urlLinkedin}" name="urlLinkedin"/> 
        <p class="text-danger" th:if="${#fields.hasErrors('urlLinkedin')}" th:errors="*{urlLinkedin}"></p>
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input required="required" id="password" class="form-control" type="password" name="senha"/> 
        <p class="text-danger" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></p>
    </div>
    <div class="form-group">
        <label>Confirmar senha</label>
        <input required="required"  id="confirm_password" class="form-control" type="password" /> 
        <span id='message'></span>
    </div>
    <div class="form-group"><br/>
        <button type="submit" value="Sign In" class="btn btn-success">Enviar</button>
    </div>
</form>