<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" th:href="@{/css/min/custom.min.css}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/4.0.6/sweetalert2.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.8.0/fullcalendar.min.css"/>        
        <link rel="shortcut icon" th:href="@{/img/favicon.ico}"/>
        <title>Projeto Crescer</title>
    </head>
    <body>
        <div id="sidebar-wrapper" th:fragment="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand text-center">
                    <span id="logo-nome">Crescer</span><span id="logo-descricao">Seleção</span>        
                </li>
                <li class="text-center div-perfil">
                    <img class="img-circle img-perfil" th:src="@{${user.imagem}}"/>
                    <span style="color:white;"><p>Olá, <span th:text="${user.nome}" ></span></p></span>
                </li>
                <li class="sidebar-lista-titulo">
                    <span>PÁGINAS</span>
                </li>
                <li class="li-opcao-menu">
                    <a href="#" data-url="/administrativo-home" class="opcao-side-bar" ><span class="fa fa-home icon-menu"></span>Inicio</a>
                </li>
                <li class="li-opcao-menu">
                    <a href="#" data-url="/candidatos" class="opcao-side-bar" ><span class="fa fa-th-list icon-menu"></span>Lista de Candidatos</a>
                </li>
                <li class="li-opcao-menu">
                    <a href="#"  data-url="/entrevistados" class="opcao-side-bar" ><span class="fa fa-wpforms icon-menu"></span>Entrevistados</a>
                </li>
                <li class="li-opcao-menu">
                    <a href="#"  data-url="/agendamento" class="btn-novo-agendamento" ><span class="fa fa-calendar icon-menu"></span>Agendamento</a>
                </li>
                <li class="li-opcao-menu">
                    <a href="#"  data-url="/novaedicao" class="btn-new-processo" ><span class="fa fa-graduation-cap icon-menu"></span>Nova Edição</a>
                </li>
                <li class="li-opcao-menu">
                    <a href="#" class="btnLogout"><span class="fa fa-sign-out icon-menu"></span>Sair</a>
                </li>
            </ul>
        </div>
        <nav class="navbar navbar-default menu-nav nav-admin" th:fragment="nav">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" id="menu-toggle">
                    <span class="fa fa-bars"></span>
                </a>
                <span class="navbar-right">
                    <span class="edicao" th:text="${'Crescer - Edição '}"></span>
                    <span id="edicao" th:text="${edicao}"></span>
                </span>
            </div>
        </nav>       
    </body>
</html>