<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/client-side.css}"/>
        <title>Titulo do Projeto</title>
    </head>
    <body class="corpo">
        <div class="container col-md-offset-2 col-md-8 ">
            <div class="row">
                <div class="margin-cima text-center">
                    <img class="img-success" src="http://www.energyauditpeople.com/images/success-check-icon.png"/>                 
                </div>
            </div>

            <div>
                <h1 class="text-center titulo">Sucesso</h1>
                <div th:if="${mensagemFormCadastro}">
                    <h3 class="text-center" th:text="${mensagemFormCadastro}"></h3>
                </div>
                <div th:if="${mensagemConfirmacaoEmail}">
                    <h3 class="text-center" th:text="${mensagemConfirmacaoEmail}"></h3>
                </div>
                <div th:if="${mensagemSucessoInscricao}">
                    <h3 class="text-center" th:text="${mensagemSucessoInscricao}"></h3>
                </div>   
            </div>
        </div>
        <script th:src="@{/js/jquery-2.2.4.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/script.js}" type="text/javascript"></script>
    </body>
</html>
