#pesq {
margin-bottom:15px
}

#pesq > .input-group {
display:inline-flex;
margin-bottom:5px
}

.candidatoList {
margin-bottom:2px
}

.candidatoList > .panel-heading > p {
font-weight:700
}

.candidatoList a {
display:inline-block;
margin:0;
padding:0 10px
}

.candidatoList p {
display:inline-block;
margin:0;
padding:0 10px
}

.link-editar-candidato:hover {
cursor:pointer
}