.candidatoList{
    margin-bottom: 2px;
}

.candidatoList > .panel-heading > p {
    font-weight: bold;
}

.candidatoList p, .candidatoList a {
    display: inline-block;
    padding: 0px 10px;
    margin: 0px;
}

#pesq {
    margin-bottom: 15px;
}

#pesq > .input-group {
    display: inline-flex;
    margin-bottom: 5px;
} 

.link-editar-candidato:hover{
    cursor:pointer;
}