.corpo{
    background-color: #fff;    
}
.laranja{
    color: rgb(255, 102, 0);
}
.titulo{
    font-style: italic;
    font-family: Georgia,sans-serif;
    font-size: 45px;
}
.fundo-cinza{
    background-color: #3e3f3a;
    color: #fff
}
.row-central{
    margin-top: 30px;
    margin-bottom: 35px;
}
.botao-submit{
    width:100%;
    height: 50px;
    background-color: white;
    font-weight: bold;
    color:black;
    border-radius: 30px;
    border:2px solid rgb(255, 102, 0);
    transition: background-color 0.5s ease;
    font-size: 22px;
    font-style: italic;
    font-family: Georgia,sans-serif;
}
.botao-submit:hover{
    background-color: rgb(255, 102, 0);
}
.input-form{
    border-radius: 20px;
    height: 37px;
}
input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: gray;
}
input[type="text"]::-moz-placeholder { /* Firefox 19+ */
    color: gray;
}
input[type="text"]:-ms-input-placeholder { /* IE 10+ */
    color: gray;
}
input[type="text"]:-moz-placeholder { /* Firefox 18- */
    color: gray;
}
