.botao-submit {
width:100%;
height:50px;
background-color:#FFF;
font-weight:700;
color:#000;
border:2px solid #fbb041;
transition:background-color .5s ease;
font-size:22px;
font-style:italic
}

.botao-submit:hover {
background-color:#fbb041
}

.corpo {
background-color:#f3f3f4
}

.divs {
margin:40px 0
}

.form-captcha {
margin:10px auto
}

.form-group {
margin-bottom:5px
}

.img-success {
width:107px
}

.input-form {
height:37px
}

.interessado-header {
margin-top:0;
padding:20px!important
}

.laranja {
color:#fbb041
}

.margin-cima {
margin-top:115px
}

.row-central {
margin-top:30px;
margin-bottom:35px
}

.titulo {
font-weight:700;
font-size:45px;
margin:10px auto
}

input[type=text]:-moz-placeholder {
color:gray
}

input[type=text]:-ms-input-placeholder {
color:gray
}

input[type=text]::-moz-placeholder {
color:gray
}

input[type=text]::-webkit-input-placeholder {
color:gray
}