/*----Inicio_Login---- */
.background-cinza{
    background-color: #262A33;
}
.content-wrapper{
    margin-top: 10%;
}
#form-nome-login{
    color:white;
    font-size: 40px;
}
.form-login .form-group input::-webkit-input-placeholder{
    color:#A4A9AC;
}

.panel,.panel-default,.panel-body,.panel-heading{
    border:none;
    background-color: #262A33 !important;
}
.btn-login{
    width: 100%;
    background-color:#EF940F;
}
.btn-login:hover{
    background-color:#EF940F;
}
.btn-login:focus{
    background-color:#EF940F !important;
    border:none!important;
}
#logo-login{
    width: 8.4em;
    height: 3em;
}
/*-----Fim_Login---- */
 @media all and (min-width:0px) and (max-width: 500px) {
  /*----Inicio_Login---- */
.content-wrapper{
    margin-top: 10%;
}
 /*-----Fim_Login---- */
}