.img-perfil{
    width: 100px;
    height: 100px;
}

.menu-nav{
    top:0;
    width: 100%;
    border: none;
    border-radius: 0px;
}

.sidebar-brand{
    background-color: #262A33;
}

#logo-adm{
    width: 9em;
    height: 4em;
}

#logo-descricao{
    color:white; 
}

#logo-nome{
    color:#EF940F;
    font-size: 23px;
    font-weight: bold;
}
#calendar{
    background-color: white;
}
.body-admin{
    background-color: #E5E9EC;
}

.nav-admin{
    height: 55px;
}

.div-perfil{
    margin-top: 24px;
    text-indent: 0px!important;
}

.sidebar-lista-titulo{
    background-color: #23272E;
    color:#EF940F;
    font-weight: bold;
}
.icon-menu{
    margin-right: 10px;
}

.li-opcao-menu{
    border-bottom: 1px solid #14161A !important;
}

.error{
    color: red;
}
#nova-edicao-form{
    margin-top: 10%;
}
.error:focus {
    border: 1px solid red;
}

form label.error{
    font:13px Tahoma,sans-serif;
    color:#ED7476;
    margin-left:5px;
    display:inline;
}

.navbar-right{
    position: absolute;
    right: 25px;
    top: 15px;
}

.welcome-corpo{
    min-width: 280px;
    max-width: 450px;
    margin: 10px auto;
}

.welcome-panel{
    text-align: center;
}

.welcome-panel > h1 > span {
    color:#EF940F;
    font-weight: bold;
}

.table{
    background-color: white;   
}

.candidatos-acoes{
    margin-left:12px;
    cursor: pointer;
    font-size: 20px;
}

.candidato-entrevista-div{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    min-height: 400px;
}
.nav-tabs li a {color:#CF940F;}
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top25 { margin-top:25px; }

.glyphicon{
    font-size: 17px;
    top: 3px;
}

.input-group{
    margin: 15px 0px;
}